<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤務表</title>
<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/style.css}" rel="stylesheet">
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
<script th:src="@{/js/sgtg.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<!-- Page Content Holder -->
	<div class="container-fluid" id="home_content">
	
		<nav class="navbar navbar-default" id="df_header" th:insert="LoginHeader">
		</nav>
		<div class="container" id="body-contents">
			<!-- Sidebar Holder -->
			<div id="HomeSideMenu" th:insert="HomeSideMenu"></div>
			<div class="container" id="main-contents-flame">
			</div>
		</div>
		<div class="line"></div>
	</div>
<script type="text/javascript" th:inline="javascript">
	//サイドメニュー画面表示切り替え
	$(document).ready(function() {
		$("#sidebarCollapse").on("click", function() {
			$("#sidebar").toggleClass("active");
			$(this).toggleClass("active");
		});
	});
	
	$(window).on('load',function(){
		$("#sidebar").toggleClass("active");
		$("#sidebarCollapse").toggleClass("active");
	});
	
</script>
</body>
</html>